/* add css module styles here (optional) */

.container {
  display: inline-block;
  background: rgba(233, 226, 226, 0.37);
  padding: 2.5em;
  border-radius: 1.4em;
  margin: 1px;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px  rgba(82, 123, 199, 0.03);
}

.container h2 {
  font-size: "1.7em";
} 
  
.container h1, h2 {
    margin:0;
}

.container p {
  margin: 0;
}